@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.maateen.me/mukti/font.css');

@font-face {
    font-family: "ramadan";
    src: url('../fonts/ramadan-day.ttf');
}
@font-face {
    font-family: "indy-bangla";
    src: url('../fonts/IndyBangla-SemiBold-V4.ttf');
}