.main-timer {
    font-family: 'indy-bangla', sans-serif;
}

.timer {
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.iftar-timer {
    background: url("../img/iftar.gif");
}

.sahri-timer {
    background: url("../img/sahri.gif");
}

.timer-span {
    line-height: 1;
    position: relative;
    top: 4px;
}

.main-timer {
    padding: 26px 0;
}