.main-timer {
    font-family: 'indy-bangla', sans-serif;
}

.timer {
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.sahri-coming {
    background: url("../img/sahri-time.gif");
}
.iftar-coming {
    background: url("../img/iftar-time.gif");
}

.iftar-timer {
    background: url("../img/iftar.gif");
}

.sahri-timer {
    background: url("../img/sahri.gif");
}

.timer-span {
    line-height: 1;
    position: relative;
    top: 4px;
}

.main-timer {
    padding: 31px 0;
}

div#timer-page {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}